<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Minimalist chat App</title>
</head>

<body>
    {{>login}}
    {{>signup}}
    {{>header}}
    <div class="container2">
        <p class="msg">Messages:</p>
        <div id="messages" class="messages"></div>
    </div>
    <form id="msgForm" class="msgForm">
        <input type="text" placeholder="Send message" class="input" id="inputBox" />
        <input type="submit" class="btn" value="Send">
    </form>
    {{>footer}}
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            // ping server for last 75 messages
            fetch(`https://${window.document.location.host}/last75`).then((response) => {
                response.json().then((data) => {
                    const JSONdata = data
                    JSONdata.forEach((x) => {
                        const msgDiv = document.createElement('div');
                        msgDiv.classList.add('msgCtn');
                        let d = new Date(x.date)
                        var hours = d.getHours();
                        var minutes = d.getMinutes();
                        var ampm = hours >= 12 ? 'pm' : 'am';
                        hours = hours % 12;
                        hours = hours ? hours : 12; // the hour '0' should be '12'
                        minutes = minutes < 10 ? '0'+minutes : minutes;
                        var strTime = hours + ':' + minutes + ' ' + ampm;
                        msgDiv.innerHTML = `<div class="msgdata">${x.msg}</div><div class="sender">${x.sender}</div><div class="date">${strTime} ${d.getDay()}\/${d.getMonth()}\/${d.getFullYear()}</div>`;
                        document.getElementById('messages').appendChild(msgDiv);
                        document.getElementById('messages').lastChild.scrollIntoView()
                    })
                })
            })
        });
    </script>
    <script type="text/javascript">
        const ws = new WebSocket(`wss://${window.document.location.host}/chat`);
        ws.binaryType = "blob";
        // Log socket opening and closing
        ws.addEventListener("open", event => {
            console.log("Websocket connection opened");
        });
        ws.addEventListener("close", event => {
            console.log("Websocket connection closed");
        });
        ws.onmessage = function (message) {
            const msgDiv = document.createElement('div');
            msgDiv.classList.add('msgCtn');
            if (message.data instanceof Blob) {
                reader = new FileReader();
                reader.onload = () => {
                    msgDiv.innerHTML = reader.result;
                    document.getElementById('messages').appendChild(msgDiv);
                };
                reader.readAsText(message.data);
            } else {
                let epoch = message.data.match(/%.+%/g)[0].replaceAll("%", "")
                let d2 = new Date(parseInt(epoch))
                var hours = d2.getHours();
                var minutes = d2.getMinutes();
                var ampm = hours >= 12 ? 'pm' : 'am';
                hours = hours % 12;
                hours = hours ? hours : 12; // the hour '0' should be '12'
                minutes = minutes < 10 ? '0'+minutes : minutes;
                var strTime = hours + ':' + minutes + ' ' + ampm;
                msgDiv.innerHTML = `<div class="msgdata">${message.data.match(/@.+@/g)[0].replaceAll("@", "")}</div><div class="sender">${message.data.match(/#.+#/g)[0].replaceAll("#", "")}</div><div class="date">${strTime} ${d2.getDay()}\/${d2.getMonth()}\/${d2.getFullYear()}</div>`;
                document.getElementById('messages').appendChild(msgDiv);
                document.getElementById('messages').lastChild.scrollIntoView()
            }
        }
        const form = document.getElementById('msgForm');
        form.addEventListener('submit', (event) => {
            event.preventDefault();
            let sender = "Anonymous"
            if (document.cookie.match(/&.+&/g) != null) {
                sender = document.cookie.match(/&.+&/g).toString().replaceAll("&", "")
            }
            // var today = new Date();
            // var dd = String(today.getDate()).padStart(2, '0');
            // var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
            // var yyyy = today.getFullYear();
            // today = mm + '/' + dd + '/' + yyyy;
            const message = document.getElementById('inputBox').value;
            ws.send(`@${message}@#${sender}#%${Date.now()}%^${window.document.location.pathname}^`);
            document.getElementById('inputBox').value = ''
            ws.close(1, "stop")
        })
    </script>
</body>

</html>